
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2 class="welcome-header">Welcome @Session["first_name"]</h2>

<h3>Your Application is Accepted.</h3>
<h3>Please click on NEXT to give information about Your Business </h3> 

<div>
    @Html.ActionLink("NEXT", "BusinessView", "Business", new { name = @Session["first_name"] }, new { @class = "welcome-links" })
</div>